<%= javascript_pack_tag 'draft' %>
<h1> Drafts </h1>
<h2> Your Drafts </h2>
<ul>
  <% @drafts.each do |draft| %>
    <li>
      <a href="/drafts/<%= draft.id %>"><%= draft.title %></a>
      <% if draft.drawn? %>
        <%= "(drawn)" %>
      <% else %>
        <%= "(#{draft.user_selections(@user)})"%>
      <% end %>
    </li>
  <% end %>
  <% unless @drafts.length > 0%>
    <li>None</li>
  <% end %>
</ul>
<h2> Open Drafts </h2>
<ul>
  <% @open_drafts.each do |draft| %>
    <li><a href="/drafts/<%= draft.id %>"><%= draft.title %></a></li>
  <% end %>
  <% unless @open_drafts.length > 0%>
    <li>None</li>
  <% end %>
</ul>