<H1>New Draft</H1>
<%= form_with do |form| %>
  <%= form.label :title %><br/>
  <%= form.text_field :title %><br/>
  <%= form.label :description %><br/>
  <%= form.text_field :description %><br/>
  <%= form.label :total_players %><br/>
  <%= form.select :total_players, 2..8, :selected => 6 %><br/>
  <%= form.label :players %><br/>
  <%# <%= form.select :users, @users.map {|u| [u.name, u.id]}, {:include_hidden => false}, {:multiple => true, :size => @users.count} %> 
  <ul>
  <% @users.each do |user| %>
    <li>
    <%= check_box_tag "user_ids[]", user.id %>
    <%= label_tag 'user_ids[]', user.name -%>
    </li>
  <% end %>
  </ul>

  <%= form.label :selections_per_player %><br/>
  <%= form.select :num_selections, 1..(Selection.factions.count / 2), :selected => 3  %><br/>
  <%= form.label :factions_drawn %><br/>
  <%= form.select :draw, 1..Selection.factions.count - 1, :selected => [7, Selection.factions.count - 1].min  %><br/>
  <%= form.submit :submit %><br/>
<% end %>